/* Reset CSS per assicurare una base uniforme */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stile generale per il body */
body {
    font-family: Arial, sans-serif;
    background-color: #d4eefc; /* Colore di sfondo */
    color: #333;
    line-height: 1.6;
}

/* Stile per gli elementi di intestazione (titoli, sottotitoli) */
h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 10px;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1.2em;
}

/* Stile per i paragrafi */
p {
    margin-bottom: 15px;
}

/* Stile per gli input di tipo text e password */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="number"],
textarea{
    display: inline-block;
    padding: 10px;
    border: 2px solid #d2e2fe; /* Contorno verde */
    border-radius: 5px; /* Bordi rotondi */
    background-color: #d2e2fe; /* Sfondo verde chiaro */
    color: #333; /* Colore del testo */
    font-size: 16px;
    width: 15%; /* Occupa tutta la larghezza disponibile */
    box-sizing: border-box; /* Include il padding nel calcolo della larghezza */
    margin-bottom: 10px; /* Spazio inferiore */
    transition: background-color 0.3s ease;
}

/* Al passaggio del mouse */
input[type="text"]:hover,
input[type="password"]:hover,
input[type="date"]:hover,
input[type="number"]:hover ,
textarea:hover {
    background-color: #95d4de; /* Sfondo verde */
    color: #ffffff; /* Testo bianco */
}

/* Stile per gli input di tipo submit button */
input[type="submit"],
input[type="button"],
input[type="reset"],
button {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #d2e2fe; /* Contorno verde */
    border-radius: 25px; /* Bordi rotondi */
    background-color: #d2e2fe; /* Sfondo verde chiaro */
    color: #333; /* Colore del testo */
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Al passaggio del mouse */
input[type="submit"]:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: #398cc0; /* Sfondo verde */
    color: #ffffff; /* Testo bianco */
}

/* Stile per i tag select */
select {
    display: inline-block;
    padding: 10px;
    border: 2px solid #d2e2fe; /* Contorno verde */
    border-radius: 5px; /* Bordi rotondi */
    background-color: #d2e2fe; /* Sfondo verde chiaro */
    color: #333; /* Colore del testo */
    font-size: 16px;
    width: 10%; /* Occupa tutta la larghezza disponibile */
    box-sizing: border-box; /* Include il padding nel calcolo della larghezza */
    margin-bottom: 10px; /* Spazio inferiore */
    transition: background-color 0.3s ease;
}

/* Stile per gli option nei tag select */
select option {
    padding: 10px;
}
table, td, th {  
    border: 1px solid #333;
    text-align: left;
  }
  
  table {
    border-collapse: collapse;
    width: 50%;
  }
  
  th, td {
    padding: 15px;
  }
  tr:hover {
    background-color: #d2e2fe; /* Sfondo verde */
    color: #333; /* Testo bianco */
  }